<!DOCTYPE html>
<html lang="pt-br">
<head>  
    <title>Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>listas</h1>
    <h2>lista não ordenadas</h2>
    <ul style="list-style-type: disc;"> 
        <li>aula de html</li>
        <li>aula de css</li>
        <li>aula de javascript</li>
    </ul>
    <h2>lista ordenadas</h2>
    <ol type="1" start="1">
        <li>aula de html</li>
        <li>aula de css</li>
        <li>aula de javascript</li>
    </ol>
    <h2>lista com descrição</h2>
    <dl>
        <dt>Aula de HTML</dt>
        <dd>nessa aula vamos aprender as tags HTML</dd>
        <dt>Aula de CSS</dt>
        <dd>nessa aula vamos aprender estilos em nossos sites</dd>
    </dl>
    <h2>lista não ordenadas</h2>
    <ul>
        <li>curso  de desenvolvimento de paginas web
            <ol>
                <li>HTML</li>
                <li>CSS</li>
                <li>Java Script</li>
            </ol> 
        </li>
        <li>curso de Java
            <ol start="4"> 
                <li>logica de progração</li>
                <li>Orientação aObjetos</li>

            </ol>
        </li>

    </ul>
</body>
</html>