<!DOCTYPE html>
<html lang="pt-br">  
<head>
    
    <title>vivendo de sonhos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/BLOG DE LIVROS - atualizado/BLOG DE LIVROS/css/style.css">
    <script src="https://kit.fontawesome.com/d8ab5a5db9.js" crossorigin="anonymous"></script>
</head> 

<body>
  <!--header-->
    <header style="background-image: url('../imagens/universo3.jpg');" class="cabecario">
        <div class="container">
             <nav>
                <!--logo do dite-->
                <a href="/BLOG DE LIVROS - atualizado/BLOG DE LIVROS/templates/index.html">
                    <img src="/BLOG DE LIVROS - atualizado/BLOG DE LIVROS/imagens/0.png" aling="left" alt="logo" width="100px" height="100px"> 
                </a>
                <!--fim do logo do site-->
                <!--menu do site-->
                <ul class="ul">
                    <a  class="btn" href="#">home</a></li>
                    <a  class="btn" href="/BLOG DE LIVROS - atualizado/BLOG DE LIVROS/templates/sobre.html">sobre</a>
                    <a class="btn" href="/BLOG DE LIVROS - atualizado/BLOG DE LIVROS/templates/contato.html">contato</a>
                    <div class="close-iconi" onclick="closeMenu()">
                        <i class="fa-solid fa-circle-xmark"></i>
                    </div>
                </ul>
                <div class="menu-iconi" onclick="openMenu()">
                    <i class="fa-solid fa-bars fa-beat"></i>
                </div>
                <!--menu do site-->
                <div class="menu-iconi" onclick="openMenu()">
                </div>
             </nav>
        </div>
            <!-- banner do site-->
    <section class="banner">
                <div class="banner-text">
                
                        <!--botao do login-->
                        <a href="/BLOG DE LIVROS - atualizado/BLOG DE LIVROS/templates/index.html" class="btn animate-btn">Login
                        </a>
                        <!--fim do botao do login-->
                </div>
    </section>
            <!-- fim do banner do site-->
        <!--end container-->
    </header>
    <!--fim do header-->
    <!--selecao de livros-->
    
        <!--foorter-->
         <footer class="foorter-mae">
            <div class="img">
                <img src="../imagens/facebook.png" alt="facebook">
                <img src="../imagens/instagram.png" alt="instagram">
                <img src="../imagens/linkedin.png" alt="linkedin">
            </div>
            <div class="h4">
                <H4>Desenvolvido por Tamiris e Larissa</H4>
            </div>
        </footer>
        <!--fim do foorter-->
   <script src="/js/main.js"></script>
    </body>
</html>



