<!DOCTYPE html>
<html lang="pt-br">  
<head>
    <title>BLOG </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/style.css">
</head> 
 
<body>
    <header>
        <h1>Blog</h1>
    </header>
    <nav>
   <ul>
    <li><a href="index.html">home</a></li>
    <li><a href="">sobre</a></li>
    <li><a href="#">contato</a></li>
     <li><a href="https://resenhandosonhos.com/" target="_blank">blog do livro</a></li>   
</ul>
 </nav>
    <div class="row">
        <section>
            <article class="card">
                <h2>Artigo 1</h2> 
                <img src="imagem.html/caoa do bolg.jpg.crdownload" alt="livro" />
                
            </article>
            <article class="card"> 
                <h2> Artigo 2 </h2>
                <img src="imagem.html/CapaAbertaPerdida.jpg" alt="livro"/>
                 <h3>Sobre o livros</h3>
                <p>Perdida é o título de estreia de Carina Rissi. O primeiro livro <br>da série best-seller homônima que estabeleceu a autora como <br>uma das escritoras mais queridas entre leitores de todas <br>as idades.

                    Neste livro conhecemos Sofia, que vive em <br>uma metrópole e está acostumada com a modernidade e as facilidades <br>que ela traz. Ligeiramente viciada em tecnologia <br>acredita que não saberia viver sem computador, celular e... <br> microondas.
                    
                    Cética e independente, Sofia <br>tem como melhor amiga, Nina, uma bela jovem que esteve <br>ao seu lado em todos os momentos difícieis em que <br>precisou de apoio. Ao contrário da amiga, que faz planos para <br>sbeu futuro romântico, Sofia tem pavor à mera menção da <br>palavra casamento.
                    
                    Viver em função de uma só pessoa, <br>como se sua vida apenas tivesse sentido se ela estivesse <br>por perto? Acordar e olhar para a mesma pessoa todo santo dia! <br>Ter que cuidar da casa, do marido, dos filhos, do cachorro, trabalhar ... <br>Casamenro, não seria um tipo de sentença de escravidão? Enfim! Os <br>únicos romances na vida de Sofia são aqueles que os livros proporcionam.</p>
                
                
            </article>
        </section>
        <aside>
            <article class="card">
                <ul>
                <li><a href="desencantada.html">Desencantada</li>
            </ul>
                <img src="imagem.html/desencantada livros.jpg" alt=" capa do livro desencantada" 
                width="" height="">
                <p>"
                    Desencantada: entregando-se aos segredos do <br>amor é o quinto volume da série Perdida.  O homônimo primeiro <br>livro da série já foi publicado em Portugal, na Itália,<br> Rússia e Ucrânia.</p>
            </article>
            <article class="card">
                <ul>
                    <li><a href="mentira perfeita.html">Mentira Perfeita</li>
                </ul>
                <img src="imagem.html/mentira perfeita.jpg" alt="livro mentira perfeita">
                <br>
                <p>Com Mentira perfeita, Carina <br>Rissi prova mais uma vez que o seu forte <br>é contar boas histórias, com ritmo acelerado e repletas <br>de paixão, humor e reviravoltas.

                </p>
            </article>
        </aside>
    </div> 
    <footer>
        <dl>
            <dt>E-mail</dt>
            <dd>Blogdasmeninas.@gmail.com</dd><br>

            <dt>Telefone</dt>
            <dd>(11) 97092-2158</dd>
        </dl>
        <p>Blog das Meninas</p>
    </footer>
</body>
</html>