<!DOCTYPE html>
<html lang="pt-br">  
<head>
    
    <title>BLOG1 </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/BLOG DE LIVROS - atualizado/BLOG DE LIVROS/css/style.css">
</head> 

<body>
  
    <header>
        <h1>Blog</h1>
    </header>
    <nav>
            
   <ul>
    <li><a href="/BLOG DE LIVROS - atualizado/BLOG DE LIVROS/templates/index.html">home</a></li>
    <li><a href="#">sobre</a></li>
    <li><a href="/BLOG DE LIVROS - atualizado/BLOG DE LIVROS/templates/sobre_02.html">contato</a></li>
     <li><a href="https://resenhandosonhos.com/" target="_blank">blog do livro</a></li>
   
</ul>
 </nav>

    <div class="row">
        
        <section>
            <article class="card">
                <h2> Tamy Neves</h2>
            </article>
            <article class="card">
                <h2>Lary Santos</h2>
            </article>
        </section>
    </div>
     
    <footer>
        <dl>
            <dt>E-mail</dt>
            <dd>Blogdasmeninas.@gmail.com</dd><br>

            <dt>Telefone</dt>
            <dd>(11) 97092-2158</dd>
        </dl>
        <p>Blog das Meninas</p>
    </footer>
 </div>   
</body>

</html>