
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    
}

body{
background:url(../imagens/back_geral.png);

}

select, footer{
    padding: 100px 0;

} 

h3{
    font-size: 50px;
}

p{
    color: #360e0e;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0  5%;

}
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* tag nav*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;

}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    color: black;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav ul a::after{
 content: "";
 background-color: rgba(134, 64, 64, 0.89);
 height: 3px;
 width: 0%;
 display: block;
 transition: 0.3s;
}

nav ul a :hover::after{
    width: 100%;
}
/* introducao do icone de menu*/
nav .menu-iconi{
    cursor: pointer;
    font-size: 25px;
    color: #833636;
    display: none;
}
/* fim da tag nav */

      /* botão  login */
/*  classe btn */

.btn{
    background-color: #996060;
    color: rgb(5, 5, 5);
    padding: 15px 20px ;
    border-radius: 10px;
    cursor: pointer;
    display:inline-block ;
    transition: 0.1s;
}
.btn.animate-btn{
    animation: animate-outline 1s ease-out infinite;
}
.btn:hover{
    background-color: #5c2424d8;
}
/* fim btn */

/* animação do botão login */

@keyframes animate-outline{
    from{
         outline: 0px solid #924e4ed8;
    }
    to{
   outline: 15px solid #4f9bf900;
    }
}
.card {
    background-color: #4682B4 ;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px  8px #999;

}
.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}
.banner .banner-text h1{
font-size: 96px;
color: black;
}
.banner.banner-text p{
    font-size: 20px;
    color: rgba(68, 25, 39, 0.808);
    font-weight: lighter;
    margin:18px 0 ;
}
/* fim  do banner do site */

/* classe seleção de livros */

.selecao-de-livros .container{
    display: flex;
    align-items: center;
}
.selecao-de-livros .selecao-de-livros-text{
    width: 50%;
    padding: 0 40px;
}
 .selecao-de-livros .selecao-de-livros-text h3{
    font-size: 56px;
 }
 .selecao-de-livros .selecao-de-livros-text p{
    margin: 5px 0 10ps 0;
 }
.selecao-de-livros .selecao-de-livros-img{
    width: 50%;
}
.selecao-de-livros .selecao-de-livros-img img{
    width: 50%;
}
/* fim da classe seleção de livros */

/*  classe outra obras */
.cards-mae{
    display: flex;
    justify-content: center;
}

.outras-obras h3{
    text-align: center;
}
.outras-obras p{
    margin-bottom: 20px;
    text-align: center;
}
.outras-obras .card-item{
    background-color:#ac8080 ;
    margin: 15px; 
    border-radius: 14px;
    text-align: center;
    width: 350px;
}
.outras-obras .card-item img{
    border-radius: 100%;
    width: 150px;
    display: block;
    margin: 10px auto;
}
.outras-obras .card-item .nome-user{
    font-weight: 600px;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}
.outras-obras .card-item .outras-obras-user{
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}

.outras-obras .card-item:hover{
    background-color: #833636;
    margin-top: -5px;
}
.outras-obras .card-item:hover .nome-user,
.outras-obras .card-item:hover .outras-obras-user{
    color:white ;
}
/* fim da classe outras obras*/

/* sites de compras*/
.compras h3,
.compras p {
    text-align: center;

}
.compras .container div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* foorter*/
.foorter-mae{
    background-color: #833636;
    display: flex;
    justify-content: center;
}
.foorter-mae img{
    width: 50px;
    margin: 0 15px 0 15px;
}
.foorter-mae{
display: flex;
flex-direction: column;
align-items: center;
}
.foorter-mae .img{
    margin: 15px 0;
}
.foorter-mae .h4{
 font-size: 30px;
}
@media (max-width:830px) {
    /* menu mobile */
    nav .menu-iconi
}












