
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    
}
body{
 background-color: #f0e6e841;
}

select, footer{
    padding: 100px 0;

} 

h3{
    font-size: 50px;
}

p{
    color:rgb(10, 10, 10);
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0  5%;

}
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width:100% ;
    height: 610px;
    margin: 0 0 0 0;
}
/* tag nav*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;

}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav ul a::after{
 content: "";
 background-color: rgba(241, 225, 225, 0.89);
 height: 3px;
 width: 0%;
 display: block;
 transition: 0.3s;
}

nav ul a :hover::after{
    width: 100%;
}
/* introducao do icone de menu*/
nav .menu-iconi{
    cursor: pointer;
    font-size: 25px;
    color:white;
    display: none;
}
nav .close-iconi{
    display: none;
    font-size: 30px;
    color: #4e182d;
}
/* fim da tag nav */

      /* botão  login */
/*  classe btn */

.btn{
    background-color: #ec7589d8;
    color:white;
    padding: 15px 20px ;
    border-radius: 10px;
    cursor: pointer;
    display:inline-block ;
    transition: 0.1s;
}
.btn.animate-btn{
    animation: animate-outline 1s ease-out infinite;
}
.btn:hover{
    background-color:#f04662d8;
}
/* fim btn */

/* animação do botão login */

@keyframes animate-outline{
    from{
         outline: 0px solid #f04662d8
    }
    to{
   outline: 15px solid #4f9bf900;
    }
}
.sobre  h3 {
    color: rgb(17, 16, 16);
}

.banner{
    margin: 50px;
}
.banner a{
    width: 130px;
    height: auto;
    margin: 150px;
    align-items: center;
}
.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
    justify-content: center;
}
.banner .banner-text h1{
font-size: 96px;
color: black;
}
.banner.banner-text p{
    font-size: 20px;
    color: rgba(219, 206, 210, 0.808);
    font-weight: lighter;
    margin:18px 0 ;
}
/* fim  do banner do site */

/* classe seleção de livros */

.selecao-de-livros h3, p{
    text-align: center;
}
.selecao-de-livros .container{
    display: flex;
    align-items: center;
    background-color: #e68a96;
}
.selecao-de-livros .selecao-de-livros-text{
    width: 50%;
    padding: 0 40px;

}
 .selecao-de-livros .selecao-de-livros-text h3{
    font-size: 56px;
 }
 .selecao-de-livros .selecao-de-livros-text p{
    margin: 5px 0 10ps 0;
 }
.selecao-de-livros .selecao-de-livros-img{
    width: 50%;
}
.selecao-de-livros .selecao-de-livros-img img{
    width: 50%;
}
/* fim da classe seleção de livros */

/*  classe outra obras */
.cards-mae{
    display: flex;
    justify-content: center;

}

.outras-obras h3{
    text-align: center;
}
.outras-obras p{
    margin-bottom: 20px;
    text-align: center;
}
.outras-obras .card-item{
    background-color: #f04662d8;
    margin: 15px; 
    border-radius: 14px;
    text-align: center;
    width: 350px;
}
.outras-obras .card-item img{
    border-radius: 100%;
    width: 150px;
    display: block;
    margin: 10px auto;
}
.outras-obras .card-item .nome-user{
    font-weight: 00px;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}
.outras-obras .card-item .outras-obras-user{
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}

.outras-obras .card-item:hover{
    background-color: #f04662d8;
    margin-top: -5px;
}
.outras-obras .card-item:hover .nome-user,
.outras-obras .card-item:hover .outras-obras-user{
    color:white;
}
/* fim da classe outras obras*/

/* sites de compras*/
.compras h3, h4,
.compras p {
    text-align: center;
    margin: 0 0 10px ;
}
.compras {
    height: 200px;
    margin: 60px;
}
.compras .container div{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.compras .container .img img{ 
    width: 80px;
    height: 80px;
}

/* foorter*/
.foorter-mae{
    background-color: #f15167c4;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}
.foorter-mae img{
    width: 50px;
    margin: 0 15px 0 15px;
}
.foorter-mae{
display: flex;
flex-direction: column;
align-items: center;
}
.foorter-mae .img{
    margin: 15px 0;
}
.foorter-mae .h4{
 font-size: 20px;
}
.contato-info{
    display: flex;
    justify-content:space-between ;
    margin-top: 50px ;
}
.contato-info .left-side{
    width:  400px;
    padding: 38px;
    background-color:#e68a96;
    border-radius: 14px;
    margin-right: 50px;
    height: fit-content;
}
.contato-info .left-side div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contato-info .left-side div{
    font-size: 24px;
    margin-right: 20px;
    color: white;
}
.contato-info .left-side p{
    font-size: 17px;
    color: white;
}
.contato-info .right-side{
    width: 50%;
}
.contato-info .right-side input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 47px;
    padding: 15px;
    border-radius: 9px;
    transition: 0.3s;
    border: 1 px solid #e68a96;
    color: #e68a96;
    font-weight: lighter;
}
.contato-info .right-side input:focus,
.contato-info .right-side textarea:focus{
    border-color: #ac8080;

}
.contato-info .right-side textarea{
    border: 2px solid #e68a96;
    color: #e68a96;
    border-radius: 9px;
    margin-bottom:10px ;
    padding: 15px;
    width: 100%;
    transition: 0.3s;
    resize: none;
}


@media (max-width:830px) {
    /* menu mobile */
   .ul{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e68a96;
    width: 100%;
    height: 100%;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    clip-path: circle(0% at 99% 0);
    transition: 0.7s;
   }
   .ul.open{
    clip-path: circle(141.2% at 100% 0);
   }
   .ul a {
    margin: 10px 0;
    font-size: 16px;
    
   }
    nav .menu-iconi{
        display: block;
    }
    nav .close-iconi{
            display: block ;
            position: absolute;
            top: 46px;
            right: 28px;
    }
    /* pagina reposiva*/
    .selecao-de-livros .selecao-de-livros-text{
        margin-top: 10px;
        padding: 0 20px;
        order: 1px; 
    
    }
    .selecao-de-livros ,.container{
        flex-direction: column;

    }
    .selecao-de-livros .selecao-de-livros-text h3{
        font-size: 48px;
    }
     .selecao-de-livros .selecao-de-livros-text,
     .selecao-de-livros .selecao-de-livros-img{
        width: 100%;
     }
}

/*  pagina sobre*/

.card2 h3{
    text-align: center;
}
.card-item:hover p{
    margin-bottom: 30px;
    text-align: center;
}
.card2 .card-item{
    background-color:#e68a96;
    margin: 15px 50px 15px; 
    border-radius: 15px;
    text-align: center;
    width: 350px;
}
.card2 .card-item img{
    border-radius: 100%;
    width: 50%;
    display: block;
    margin: 80px auto;
}
.card2 .card-item .nome-user{
    font-weight: 600px;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}
.card2 .card-item .outras-obras-user{
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}

.card2 .card-item:hover{
    background-color:#e68a96;
    margin-top: -5px;
}
.card2 .card-item:hover .nome-user,
.card2 .card-item:hover .outras-obras-user{
    color:rgb(29, 17, 1) ;
}

/* criacao do blog*/
.card3 .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-item:hover p{
    margin-bottom: 30px;
    text-align: center;
}
.card3 .card-item{
    background-color: #e68a96;
    margin: 15px 50px 15px; 
    border-radius: 15px;
    text-align: center;
    width:auto;
    height: 100%;
    align-items: center;
}
.card3 .card-item .nome-user{
    font-weight: 600px;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}
.card3 .card-item .card3-user{
    font-size: 100px;
    padding: 0 15px;
    transition: 0.3s;
}

.card3 .card-item:hover{
    background-color: #f04662d8;
    margin-top: -5px;
}
.card3 .card-item:hover .nome-user,
.card3 .card-item:hover{
    color:white ;
}










